/**
 * Styles
 * ======
 */
@import './share/scss/block/folder.scss';
@import './share/scss/block/officeTable.scss';
@import './share/scss/block/grid.scss';
@import './share/scss/block/section.scss';
@import './share/scss/block/form.scss';
@import './share/scss/block/boxAside.scss';
@import './share/scss/block/comeBack.scss';
@import './share/scss/block/profile.scss';
@import './share/scss/block/profileMenu.scss';
@import './share/scss/block/progressBar.scss';
@import './share/scss/block/hints.scss';
@import './share/scss/block/crop.scss';
@import './share/scss/block/addSummary.scss';
@import './share/scss/block/addSkills.scss';
@import './share/scss/block/jak.scss';

 /**
  * Host
  * ====
  */
 :host {
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
 }
 
 /**
  * Overrides
  * =========
  */
 .officeTable {
   margin-bottom: 0px;
 }
 
 .officeTable__head {
   margin: 50px 0px;
 }
 
 .officeTable__table .budu__message {
   margin-top: 30px;
 }
 