<div class="container">
  <div class="officeTable">
    <div class="officeTable__head">
      <div class="officeTable__box">
        <app-table-filter
          [filters]="filters"
          (filtersApply)="(filtersApplyController)"
        ></app-table-filter>
      </div>
    </div>

    <div class="officeTable__body">
      <app-table
        [columnConfig]="columnConfig"
        [dataSource]="filteredDataSource"
        [endpoint]="endpoint"
        [filtersApply]="filtersApply"
      >
      </app-table>
    </div>
  </div>
</div>
