<section class="section_inner">
  <header class="header header_inner">
    <a href="/" class="header__logo logo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 163 72">
        <path
          d="M82.27,21.32c0-10.76,7.11-18.92,19.06-18.92,12.94,0,19.14,8.86,19.14,18.5,0,10.69-7.11,18.92-19.14,18.92C88.53,39.68,82.27,31,82.27,21.32Zm10-.56c0,5.7,2.6,11,9.08,11,7,0,9.22-5.49,9.22-10.41,0-5.63-2.67-11-9.22-11C94.44,10.41,92.26,15.9,92.26,20.75Z" />
        <polygon
          points="69.01 22.11 58.74 44.95 51.6 22.11 42.24 22.11 53.22 57.23 47.21 70.61 56.73 70.61 78.53 22.11 69.01 22.11" />
        <polygon
          points="151.68 22.11 141.41 44.95 134.27 22.11 124.91 22.11 135.89 57.23 129.88 70.61 139.4 70.61 161.2 22.11 151.68 22.11" />
        <polygon points="39.05 3.39 2.04 3.39 1.8 3.39 1.8 19.62 11.77 19.62 11.77 12.29 39.05 12.29 39.05 3.39" />
        <polygon
          points="80.93 40.82 80.93 57.04 90.9 57.04 90.9 49.72 111.83 49.72 111.83 57.04 121.8 57.04 121.8 40.82 80.93 40.82" />
        <path
          d="M39.8,38.7c0,10.76-7.11,18.92-19.06,18.92C7.79,57.62,1.6,48.76,1.6,39.12c0-10.69,7.11-18.92,19.14-18.92C33.54,20.33,39.8,29,39.8,38.7Zm-10,.56c0-5.7-2.6-11-9.08-11-7,0-9.22,5.49-9.22,10.41,0,5.63,2.67,11,9.22,11C27.63,49.6,29.81,44.11,29.81,39.26Z" />
      </svg>
    </a>
    <div class="navOpen js-navOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="nav">
      <div class="nav__logo"><img src="/assets/media/logo/logo-black.svg" alt=""></div>
      <ng-container>
        <!-- <div class="nav__item">
          <a class="nav__link nav__link_line" routerLinkActive="nav__link_active" href="#" title="Мои отклики">Мои отклики</a>
        </div> -->
        <div class="nav__item">
          <a class="nav__link nav__link_line" routerLinkActive="nav__link_active" routerLink="dashboard" title="Рабочий стол">Рабочий стол</a>
        </div>
        <div class="nav__item">
          <a class="nav__link nav__link_line" routerLinkActive="nav__link_active" routerLink="worker" title="Соискатели">Соискатели</a>
        </div>
        <div class="nav__item">
          <a class="nav__link nav__link_line" routerLinkActive="nav__link_active" routerLink="employer" title="Работодатели">Работодатели</a>
        </div>
        <div class="nav__item">
          <a class="nav__link nav__link_line" routerLinkActive="nav__link_active" routerLink="users" title="Пользователи">Пользователи</a>
        </div>
        <div class="nav__item">
          <a class="nav__link nav__link_line" routerLinkActive="nav__link_active" routerLink="settings" title="Настройки">Настройки</a>
        </div>
      </ng-container>
      <!-- <div class="nav__item"><a class="nav__link nav__link_line" href="">Тарифы</a></div> -->
    </nav>
    <div class="profileMenu">
      <div class="profileMenu__icon">
        <div class="profileMenu__face"><img src="/assets/media/profile/default.jpg" alt=""></div>
      </div>
      <div class="profileMenu__list">
        <div class="profileMenu__item">
          <a routerLink="cv" class="profileMenu__link">
              <svg viewBox="0 0 23 23">
                  <path
                    d="M22.5,11.51a11,11,0,1,0-17.72,8.7l0,0a10.89,10.89,0,0,0,5,2.15h0l.48.06h.11l.41,0H12l.21,0,.31,0,.26,0,.26,0,.28,0,.22,0,.29-.06.21,0,.29-.07.21-.06.28-.09.23-.08.26-.09.3-.12.16-.07a11,11,0,0,0,3-1.86l0,0A11,11,0,0,0,22.5,11.51Zm-3.69,7.71v-.6a5.2,5.2,0,0,0-5.19-5.2H9.93a5.2,5.2,0,0,0-5.2,5.2v1.09a10.64,10.64,0,1,1,14.09-.49Z" />
                  <path d="M11.78,3.8A4.48,4.48,0,0,0,7.26,8.25a4.52,4.52,0,0,0,9,0A4.48,4.48,0,0,0,11.78,3.8Z" />
                </svg>
            Профиль
          </a>
        </div>
        <div class="profileMenu__item">
          <a routerLink="settings" class="profileMenu__link">
            <svg viewBox="0 0 15 15">
              <g>
                <path
                  d="M14.08,6.77a.43.43,0,0,0-.43-.33,1.46,1.46,0,0,1-1-2.54.37.37,0,0,0,0-.5,6.55,6.55,0,0,0-1-1.06.37.37,0,0,0-.5,0,1.53,1.53,0,0,1-1.65.37A1.47,1.47,0,0,1,8.6,1.31.37.37,0,0,0,8.27.93a6.61,6.61,0,0,0-1.49,0,.37.37,0,0,0-.33.38,1.47,1.47,0,0,1-.91,1.41,1.53,1.53,0,0,1-1.64-.37.37.37,0,0,0-.5,0A6.57,6.57,0,0,0,2.34,3.36a.37.37,0,0,0,0,.5,1.47,1.47,0,0,1,.37,1.65,1.53,1.53,0,0,1-1.44.89.36.36,0,0,0-.38.32,6.63,6.63,0,0,0,0,1.51.44.44,0,0,0,.43.33,1.45,1.45,0,0,1,1.36.91,1.47,1.47,0,0,1-.37,1.64.37.37,0,0,0,0,.5,6.57,6.57,0,0,0,1,1.06.37.37,0,0,0,.5,0,1.52,1.52,0,0,1,1.65-.37,1.47,1.47,0,0,1,.9,1.44.37.37,0,0,0,.32.39,6.59,6.59,0,0,0,1.49,0,.37.37,0,0,0,.33-.38,1.47,1.47,0,0,1,.91-1.41,1.53,1.53,0,0,1,1.64.37.37.37,0,0,0,.5,0,6.59,6.59,0,0,0,1.07-1.06.37.37,0,0,0,0-.5,1.47,1.47,0,0,1-.37-1.65,1.48,1.48,0,0,1,1.35-.9h.08a.37.37,0,0,0,.39-.32A6.62,6.62,0,0,0,14.08,6.77Zm-6.57,3A2.21,2.21,0,1,1,9.72,7.51,2.21,2.21,0,0,1,7.51,9.72Z" />
              </g>
            </svg>
            Настройки
          </a>
        </div>
        <div class="profileMenu__item">
          <a href="/logout" class="profileMenu__link">
            <svg viewBox="0 0 15 15">
              <path
                d="M7.48,12.93H2.59A.54.54,0,0,1,2,12.39V2.61a.54.54,0,0,1,.54-.54H7.48A.54.54,0,0,0,7.48,1H2.59A1.63,1.63,0,0,0,1,2.61v9.78A1.63,1.63,0,0,0,2.59,14H7.48a.54.54,0,1,0,0-1.09Z" />
              <path
                d="M13.88,7.11l-3.3-3.26a.54.54,0,1,0-.76.77L12.18,7H5.85A.54.54,0,0,0,5.85,8h6.33L9.81,10.37a.54.54,0,1,0,.76.77l3.3-3.26a.54.54,0,0,0,0-.77Z" />
            </svg>
            Выход
          </a>
        </div>
      </div>
    </div>
  </header>
</section>
