<div class="container">
  <div class="officeTable">
      <div class="officeTable__box">
        <div class="officeTable__body">
          <app-table
            [columnConfig]="columnConfig"
            [dataSource]="dataSource"
            [endpoint]="endpoint"
            [filtersApply]="filtersApply"
          >
          </app-table>
        </div>
      </div>
    </div>
</div>



