<ng-container *ngIf="entry">
  <app-moderation-bar
    [object]="entry"
    [endpoint]="endpoint"
    (published)="publish($event)"
    (blocked)="block($event)"
    (resetPassword)="resetPassword($event)"
  ></app-moderation-bar>

  <app-stats [entry]="entry"></app-stats>
</ng-container>
