<div class="profile__card">
    <div class="profile__card-head">Статистика!</div>
    <div class="profile__card-body">

        <ng-container *ngFor="let property of config | keyvalue">
            <div *ngIf="entry[property.key]" class="profile__card-item">
                    {{ property.value }}
                    {{ entry[property.key] }}   
              </div>
        </ng-container>

    </div>
</div>