<div class="officeTable">
  <div class="officeTable__head">
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [length]="filteredDataSource?.length"
      showFirstLastButtons
      (page)="updateWindow($event)"
    ></mat-paginator>
  </div>

  <table mat-table class="officeTable__table" [dataSource]="window" matSort>
    <div *ngFor="let column of columns">
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ columnConfig[column] }}
        </th>

        <td mat-cell *matCellDef="let entry">
          <span (click)="navigateTo(entry)">
            <div *ngIf="column == 'status' && entry['status']; else regularEntry">
              {{ statuses[entry[column]] }}
            </div>
            <ng-template #regularEntry>
              {{ entry[column] }}
            </ng-template>
          </span>
        </td>
      </ng-container>
    </div>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let myRowData; columns: columnsToDisplay"
      class="row"
    ></tr>
  </table>
</div>
