<section class="section section_000">
    <div class="container">
      <footer class="footer">
        <div class="footer__box">
          <a href="/" class="footer__logo logo"><img src="/assets/media/logo/logo-white.svg" alt="Логотип"></a>
          <div class="social">
            <div class="social__box">
              <!-- <a href="https://www.facebook.com/budujobs" class="social__icon"><img src="/assets/media/social/fb.svg" alt="facebook"></a> -->
              <!-- <a href="https://instagram.com/budujobs" class="social__icon"><img src="/assets/media/social/in.svg" alt="instagram"></a> -->
              <!-- <a href="https://teleg.run/budujobs" class="social__icon"><img src="/assets/media/social/te.svg" alt="telegram"></a> -->
              <!-- <a href="https://vk.com/budujobs" class="social__icon"><img src="/assets/media/social/vk.svg" alt="vkontakte"></a> -->
            </div>
          </div>
        </div>
        <nav class="footerNav">
          <div class="footerNav__item">
            <div class="footerNav__list"><a href="/about" class="footerNav__link">О компании</a></div>
            <div class="footerNav__list"><a href="/documents" class="footerNav__link">Документы</a></div>
          </div>
          <div class="footerNav__item">
            <div class="footerNav__list"><a href="/" class="footerNav__link">Соискателям</a></div>
            <div class="footerNav__list"><a routerLink="vacancies" class="footerNav__link">Вакансии</a></div>
          </div>
          <div class="footerNav__item">
            <div class="footerNav__list"><a href="/employer" class="footerNav__link">Работодателям</a></div>
            <div class="footerNav__list"><a href="/pricing" class="footerNav__link">Тарифы</a></div>
          </div>
        </nav>
        <div class="footer__copyright">© 2019 Буду <a class="footer__copyright__email" href="mailto:hello@budu.jobs">hello@budu.jobs</a></div>
      </footer>
    </div>
  </section>
  