<div class="profile__card">
        <div class="profile__card-head">Имейл соискателю</div>
        <div class="profile__card-body">

            <form>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Type here your letter" [formControl]="letter"></textarea>
                </mat-form-field>
            </form>

            <button type="submit" mat-button (click)="sendEmail()">Отправить</button>
    </div>
</div>