/**
 * Styles
 * ======
 */
 @import './share/scss/block/grid.scss';
 @import './share/scss/block/section.scss';
 @import './share/scss/block/form.scss';
 @import './share/scss/block/boxAside.scss';
 @import './share/scss/block/comeBack.scss';
 @import './share/scss/block/profile.scss';
 @import './share/scss/block/profileMenu.scss';
 @import './share/scss/block/progressBar.scss';
 @import './share/scss/block/hints.scss';
 @import './share/scss/block/crop.scss';
 @import './share/scss/block/addSummary.scss';
 @import './share/scss/block/addSkills.scss';
 @import './share/scss/block/jak.scss';
 
 .addSummary__datepicker {
   width: 100%;
 }
 
 .addSummary__datepicker-birthday {
   margin-top: 40px;
 }
 