<div class="container">
  <div class="officeTable">
    <div class="officeTable__head">
      <div class="officeTable__box">

        <ng-container *ngFor="let section of sections | keyvalue">
          <div class="officeTable__pagination" routerLinkActive="officeTable__pagination_active">
            <div [routerLink]="section.key">
                <span>1</span>
                {{ section.value }}
            </div>
          </div>
        </ng-container>

      </div>
      <div class="comeBack">
          <div class="comeBack__btn" (click)="location.back()">
              <img src="/assets/media/comeBack/strelochka.svg">
              Вернуться
          </div>
      </div>
    </div>

    <div class="officeTable__body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
