<div class="container">
  <div class="officeTable">
    <div class="officeTable__head">
      <div class="officeTable__box">
        <app-table-filter
          [filters]="filters"
          (filtersApply)="filtersApplyController($event)"
        ></app-table-filter>
      </div>
    </div>

    <div class="officeTable__body">
      <app-table
        [columnConfig]="columnConfig"
        [dataSource]="dataSource"
        [endpoint]="endpoint"
        [filtersApply]="filtersApply"
        [statuses]="statuses"
      >
      </app-table>
    </div>
  </div>

</div>