<ng-container *ngIf="true; else notAuth">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</ng-container>
<ng-template #notAuth>Вы не авторизированы</ng-template>
