/**
 * Styles
 * ======
 */
 @import '../../../.././share/scss/block/folder.scss';
 @import '../../../.././share/scss/block/officeTable.scss';
 
 /**
  * Host
  * ====
  */
 :host {
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
 }
 
 /**
  * Overrides
  * =========
  */
 .officeTable {
   margin-bottom: 0px;
 }
 
 .officeTable__head {
   margin: 50px 0px;
 }
 
 .officeTable__table .budu__message {
   margin-top: 30px;
 }
 