<div class="container">
  <td>
    <div (click)="publish($event)" *ngIf="config.publishable[path]" class="officeTable__pagination" 
    >
        Опубликовать
    </div>
    <!-- <div (click)="change($event)" *ngIf="config.changeable[path]" class="officeTable__pagination"
    >
        Исправить
    </div> -->
    <div (click)="block($event)" *ngIf="config.blockable[path] && !object['blocked']" class="officeTable__pagination"
   >
        Заблокировать навсегда
    </div>
    <div (click)="unblock($event)" *ngIf="config.blockable[path] && object['blocked']" class="officeTable__pagination"
    >
        Разблокировать
     </div>
    <div (click)="reset($event)"  *ngIf="config.resetable[path]" class="officeTable__pagination"
    >
        Сбросить пароль
     </div>
  </td>
</div>

