<app-moderation-bar
  *ngIf="entry"
  [object]="entry"
  [endpoint]="endpoint"
  (published)="publish($event)"
  (changed)="change($event)"
  (blocked)="block($event)"
  (resetPassword)="resetPassword($event)"
></app-moderation-bar>

<div class="jak" (click)="getUp()"></div>

<section *ngIf="entry" class="section section_f5f7f6">
  <div class="container">
    <div *ngIf="isResponseComplete" class="responseSent">
      <div class="responseSent__description">{{ responseMessage }}</div>
    </div>
    <div class="boxAside">
      <div class="boxAside__item">
        <div class="vacancySimple">
          <div class="vacancySimple__head">
            <div class="vacancySimple__term">
              <div class="vacancySimple__term-date">
                {{ moment().format("D MMMM") }}
              </div>
            </div>
            <div class="vacancySimple__face">
              <div class="vacancySimple__logo">
                <img src="{{ uploadsLogosPath }}/{{ entry.company.logo }}" />
              </div>
              <div class="vacancySimple__info">
                <div class="vacancySimple__profession">
                  {{
                    entry.vacancy.post
                      ? entry.vacancy.post
                      : "Должность не указана"
                  }}
                </div>
                <div class="vacancySimple__salary">
                  <img src="/assets/media/jobOpenings/rub.svg" alt="" />
                  <ng-container
                    *ngIf="entry.offer.salary.id == 0; else salaryNotSet"
                  >
                    <span
                      *ngIf="entry.offer.salaryFrom && !entry.offer.salaryTo"
                      >от {{ entry.offer.salaryFrom }}</span
                    >
                    <span
                      *ngIf="!entry.offer.salaryFrom && entry.offer.salaryTo"
                      >до {{ entry.offer.salaryTo }}</span
                    >
                    <span *ngIf="entry.offer.salaryFrom && entry.offer.salaryTo"
                      >{{ entry.offer.salaryFrom }} &mdash;
                      {{ entry.offer.salaryTo }}</span
                    >
                  </ng-container>
                  <ng-template #salaryNotSet>{{
                    entry.offer.salary.name
                  }}</ng-template>
                </div>
                <div class="vacancySimple__geo">
                  <img src="/assets/media/jobOpenings/home.svg" alt="" /><span
                    >{{
                      entry.vacancy.city.value
                        ? entry.vacancy.city.value
                        : "Город не указан"
                    }}</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="vacancySimple__body">
            <div class="vacancySimple__box vacancySimple__box_type">
              <div class="vacancySimple__type">
                <div class="vacancySimple__type-title">Форма работы</div>
                <div class="vacancySimple__type-intro">
                  {{ entry.vacancy.formOfWork.name }}
                </div>
              </div>
              <div class="vacancySimple__type">
                <div class="vacancySimple__type-title">Тип занятости</div>
                <div
                  class="vacancySimple__type-intro"
                  *ngFor="let item of entry.vacancy.typeOfWork"
                >
                  {{ item.name }}
                </div>
              </div>
              <div class="vacancySimple__type">
                <div class="vacancySimple__type-title">Опыт работы</div>
                <div class="vacancySimple__type-intro">
                  {{ entry.vacancy.expirience.name }}
                </div>
              </div>
            </div>
            <div class="vacancySimple__box">
              <div class="vacancySimple__title">
                {{
                  entry.vacancy.requirementsHeader
                    ? entry.vacancy.requirementsHeader
                    : "Что ждем от тебя"
                }}
              </div>
              <div class="vacancySimple__box-title">Навыки/инструменты:</div>
              <div
                *ngIf="entry.vacancy.skills.length > 0; else noSkills"
                class="vacancySimple__skills"
              >
                <div
                  class="vacancySimple__skills-item"
                  *ngFor="let skill of entry.vacancy.skills | slice: 0:3"
                >
                  {{ skill.name }}
                </div>
              </div>
              <ng-template #noSkills>
                <div class="vacancySimple__description">Не указаны</div>
              </ng-template>
              <div class="vacancySimple__box-title">Требования:</div>
              <div class="vacancySimple__description">
                {{
                  entry.vacancy.requirements
                    ? entry.vacancy.requirements
                    : "Не указаны"
                }}
              </div>
              <div class="vacancySimple__box-title">Что будет плюсом:</div>
              <div class="vacancySimple__description">
                {{
                  entry.vacancy.additionalRequirements
                    ? entry.vacancy.additionalRequirements
                    : "Не указано"
                }}
              </div>
            </div>
            <div class="vacancySimple__box">
              <div class="vacancySimple__title">
                {{
                  entry.todo.header ? entry.todo.header : "Что будешь делать"
                }}
              </div>
              <div class="vacancySimple__description">
                {{ entry.todo.todo ? entry.todo.todo : "Не указано" }}
              </div>
            </div>
            <div
              *ngIf="entry.offer.expiredDate"
              class="vacancySimple__prodaction"
            >
              Крайний срок отклика
              <span>{{
                entry.offer.expiredDate
                  ? moment(entry.offer.expiredDate).format("D MMMM")
                  : ""
              }}</span>
            </div>

            <div class="vacancySimple__box">
              <div class="vacancySimple__title">
                Отклики
              </div>
              <div class="vacancySimpleCard__description">
                <app-table
                  [columnConfig]="responses.columnConfig"
                  [dataSource]="responses.dataSource"
                  [endpoint]="responses.endpoint"
                >
                </app-table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
