/**
 * Styles
 * ======
 */
 @import './share/scss/block/boxAside.scss';
 @import './share/scss/block/comeBack.scss';
 @import './share/scss/block/responseSent.scss';
 @import './share/scss/block/vacancySimple.scss';
 @import './share/scss/block/vacancySimpleCard.scss';
 @import './share/scss/block/responseSent.scss';
 @import './share/scss/block/jak.scss';
 @import './share/scss/block/advice.scss';
 @import './share/scss/block/confirmation.scss';
 
 
 .section {
     padding: 40px 0px;
 }
 
 .advice__box {
     margin: 0px;
 }
 
 .confirmation {
     margin-top: 30px;
 }