.confirmation {
  background-color: #ffffff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
  padding: 18px 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.confirmation__btn {
  float: right;
  color: #ffcb5b;
  transition: 0.3s color;

  &:hover {
    color: #3cd52e;
    text-decoration: none;
  }
}

@media (max-width: 480px) {
  .confirmation {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .confirmation__btn {
    float: none;
  }
}