
.filter {
  margin-right: -5px;
  margin-left: -5px;
}

.filter__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 180px;
}

.filter__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  padding: 0 1rem;
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  margin: 5px;
  white-space: nowrap;
  font-size: 14px;
  transition: 0.3s background-color;

  &:hover {
    & > .filter__item-box{
      display: block;
    }

    background-color: #ececec;
  }
}

.filter__count {
  display: inline-block;
  margin-left: .5rem;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background-color: #3cd52e;
  border-radius: 50%;
  color: #fff;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;

  &_text {
    width: auto;
    background-color: transparent;
    color: #3cd52e;
  }

  &_hide {
    display: none;
  }
}

.filter__item-box {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  margin-top: 1rem;
  padding: 25px 20px;
  background-color: #fff;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.04);
  cursor: default;

  &::after {
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    height: 16px;
    content: '';
  }

  &::before {
    position: absolute;
    top: -6px;
    left: 20px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    content: '';
    transform: rotate(45deg);
  }
}

.filter__field {
  height: 50px;
  background-color: #f4f6f5;
  border-radius: 3px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.filter__label {
  display: block;
  text-align: left;
  font-weight: 300;

  & + & {
    margin-top: 15px;
  }
}

.filter__checkbox {
  position: fixed;
  left: -9999px;
  z-index: -999;
  visibility: hidden;
  opacity: 0;

  &:checked + .filter__divCheckbox {
    border: 1px solid #3cd52e;

    &::before {
      position: absolute;
      top: 5px;
      left: 7px;
      width: 10px;
      height: 5px;
      border-top: 2px solid #3cd52e;
      border-right: 2px solid #3cd52e;
      transform: rotate(137deg);
      content: '';
    }
  }
}

.filter__divCheckbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 20px;
  margin-right: 10px;
  background-color: #f5f7f6;
  border-radius: 4px;
  border: 1px solid #f5f7f6;
}

.filter__range {
  position: relative;
  margin-top: 73px;
  width: 220px;
  height: 2px;
  background-color: #f5f7f6;

  & .ui-slider-handle {
    top: -12px;
    margin-left: -12px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #3cd52e;
    background-color: #fff;

    &::before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 12px;
      height: 12px;
      background-color: #3cd52e;
      content: '';
      border-radius: 50%;
    }
  }

  &::before {
    position: absolute;
    top: -6px;
    left: -12px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 1px solid #3cd52e;
    border-radius: 50%;
    content: '';
  }

  &::after {
    position: absolute;
    top: -6px;
    right: -12px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 1px solid #3cd52e;
    border-radius: 50%;
    content: '';
  }
}

.filter__range-text {
  position: absolute;
  bottom: 25px;
  display: inline-block;
  padding: 15px 20px;
  background-color: #f5f7f6;
  color: #8c8c8c;

  &::before {
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -6px;
    width: 12px;
    height: 12px;
    background-color: #f5f7f6;
    transform: rotate(45deg);
    content: '';
  }
}

.filter__pagination {
  position: absolute;
  right: 0;
  top: 0;
}

.filter__reset {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  margin: 5px;
  padding: 0 1rem;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  color: #3cd52d;
}

@media(min-width: 769px) {
  .filter__mobile {
    display: none;
  }

  .filter__mobileClose {
    display: none;
  }

  .filter__back {
    display: none;
  }
}

@media(max-width: 768px) {
  .filter__form {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    opacity: 0;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-right: 0;
    background-color: #ffffff;
    overflow: auto;

    &_mobileActive {
      display: flex;
    }
  }

  .filter__item {
    flex-wrap: wrap;
    margin: 0;
    padding: 1rem;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;

    &:first-of-type {
      border-top: 1px solid #e2e2e2;
    }
  }

  .filter__item-box {
    position: static;
    width: 100%;
    box-shadow: inset 0 0 9px rgb(216, 216, 216);

    &::before {
      display: none;
    }
  }

  .filter__field {
    width: 100%;
  }

  .filter__mobileClose {
    margin-left: auto;
  }

  .filter__pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .filter__pagination {
    position: static;
    width: 100%;
    order: -1;
  }

  .filter__reset {
    padding: 0;
    margin: 0;
    height: auto;
  }

  .filter__back {
    font-size: 14px;
    color: #3cd52d;
  }
}

@media(max-width: 480px) {
  .filter__item {
    width: 100vw;
  }
}
