
.jobSummary {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1rem;
  margin-right: -15px;
  margin-left: -15px;

  &_slide {
    margin-right: 0;
    margin-left: 0;
  }

  & .owl-dot {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(0, 0, 0, .62) !important;
    border-radius: 50%;
    margin-right: .5rem;
    margin-left: .5rem;

    &:focus {
      outline: 0;
    }

    &.active {
      background-color: #000;
      border: 1px solid rgba(0, 0, 0, 1) !important;
    }
  }

  & .owl-dots {
    margin-top: 68px;
    text-align: center;
  }

  &_other {
    margin-top: 48px;
    border-top: 3px dashed #fff;

    & .jobSummary__item {
      margin-top: 5rem;
    }
  }
}

.jobSummary__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 358px;
  margin: 1rem;
  padding: 15px 15px 23px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #000;
  transition: .3s;
  min-height: 420px;

  &_profile {
    &:hover {
      & .jobSummary__item-date {
        opacity: .1;
      }
      & .jobSummary__media {
        opacity: .1;
      }
      & .jobSummary__name {
        opacity: .1;
      }
      & .jobSummary__title {
        opacity: .1;
      }
      & .jobSummary__city {
        opacity: .1;
      }
      & .jobSummary__footer {
        opacity: .1;
      }
    }
  }

  &::after {
    position: absolute;
    top: calc(100% - 8px);
    left: 0;
    width: 0;
    height: 8px;
    background-color: #3cd52d;
    content: '';
    transition: .3s width;
    border-radius: 0 0 5px 5px;
  }

  &:hover, 
  &_active {
    text-decoration: none;
    transform: scale(1.05);

    & .jobSummary__act-answer {
      display: block;
    }

    &::after {
      width: 100%;
    }
  }
}

.jobSummary__item-date {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 25px;
  color: #bababa;
  transition: .3s;
}

.jobSummary__act {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  transition: .3s;
  transition: .3s;
}

.jobSummary__status {
  padding: 6.5px 10px;
  background-color: #a5a5a5;
  color: #fff;
  border-radius: 5px;
}

.jobSummary__act-answer {
  display: none;
}

.jobSummary__act-true {
  display: block;
  width: 230px;
  height: 61px;
  margin-bottom: 10px;
  color: #3cd52e;
  font-size: 18px;
  line-height: 61px;
  text-align: center;
  border: 1px solid #3cd52e;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #3cd52e;
    color: #fff;
    text-decoration: none;
  }
}

.jobSummary__act-false {
  display: block;
  width: 230px;
  height: 61px;
  color: #000;
  font-size: 18px;
  line-height: 61px;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
  }
}

.jobSummary__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

.jobSummary__head-icon {
  margin-left: auto;
  min-width: 30px;
  width: 30px;
  min-height: 28px;
}

.jobSummary__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  transition: .3s;

  & img {
    border-radius: 50%;
    max-width: 109px;
  }
}

.jobSummary__shool {
  position: relative;
  z-index: 1;
  margin-top: -5px;
  font-size: 16px;
  font-weight: 400;
  color: #ffcc5f;
  padding: 4px 17px;
  border: 2px solid #ffcc5f;
  border-radius: 5px;
  background-color: #ffffff;
}

.jobSummary__name {
  margin-bottom: .5rem;
  font-weight: 400;
  font-size:18px;
  transition: 0.3s;
}

.jobSummary__title {
  margin-bottom: .5rem;
  font-weight: 400;
  font-size: 18px;
  color: #3cd52e;
  transition: 0.3s;
}

.jobSummary__intro {
  margin-bottom: .5rem;
  font-weight: 400;
  font-size: 16px;
  color: #3cd52d;
}

.jobSummary__price {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    margin-right: .5rem;
    width: 30px !important;
  }
}

.jobSummary__city {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  color: #a4a4a4;
  font-size: 16px;
  font-style: italic;
  transition: 0.3s;

  & img {
    margin-left: 8px;
    max-width: 16px;
    min-width: 16px;
    margin-right: .5rem;
  }
}

.jobSummary__footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.3s;
}

.jobSummary__footer-item {
  position: relative;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  padding: 6px 17px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  line-height: 1;

  &:hover {
    & span {
      display: block;
      opacity: 1;
    }
  }

  & span {
    display: none;
    position: absolute;
    bottom: 140%;
    left: 50%;
    padding: 30px;
    background-color: #56595c;
    border: 1px solid #cacaca;
    font-size: 12px;
    line-height: 1;
    transform: translateX(-50%);
    opacity: 0;
    color: #fff;
    white-space: nowrap;

    &::before {
      position: absolute;
      top: 98%;
      left: 50%;
      transform: rotate(45deg) translateX(-50%);
      width: 10px;
      height: 10px;
      border-right: 1px solid #cacaca;
      border-bottom: 1px solid #cacaca;
      background-color: #56595c;
      content: '';
    }
  }
}

.jobSummary__answer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .jobSummary__item {
    width: 288px;
  }

  .jobSummary__footer  {
    flex-wrap: wrap;
  }

  .jobSummary__footer-item {
    padding: 5px 10px;
    margin-right: 2px;
    margin-left: 2px;
  }
}

@media (max-width: 980px) {
  .jobSummary__item {
    width: 342px;
  }
}

@media (max-width: 768px) {
  .jobSummary {
    & .owl-dots {
      margin-top: 34px;
    }
  }

  .jobSummary__item {
    width: 100%;
  }

  .jobSummary_slide {
    & .jobSummary__item {
      width: auto;
    }
  }
}
