.nav {
  align-items: center;
  margin-left: auto;
}

.nav__logo {
  display: none;
}

.nav__item {
  &+& {
    margin-left: 30px;
  }
}

.nav__link {
  padding: 5px 0;
  color: #000;
  font-size: 14px;

  &_active {
    color: #39d52c;
    text-decoration: none;

    & img {
      border-color: #000;
    }
  }

  &:hover {
    color: #39d52c;
    text-decoration: none;

    & img {
      border-color: #000;
    }
  }

  &_jak {
    cursor: default;
  }

  & img {
    border: 1px solid transparent;
    display: none;
  }
}

@media (min-width: 769px) {
  .nav {
    display: flex;
  }

  .nav__link {

    &_line,
    &_active {
      position: relative;

      &:hover {
        &::before {
          border-color: rgba(57, 213, 44, 1);
        }
      }

      &::before {
        position: absolute;
        top: 100%;
        left: -10px;
        width: calc(100% + 20px);
        height: 31.5px;
        border-bottom: 6px solid rgba(57, 213, 44, 0);
        content: '';
      }
    }

    &_active {
      &::before {
        border-color: rgba(57, 213, 44, 1);
      }
    }
  }
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0;
    width: 250px;
    height: 100vh;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in transform;
    background: url(/assets/media/nav/nav.jpg) #fff center bottom no-repeat;
    background-size: 100% auto;

    &_show {
      transform: translateX(250px);
    }
  }

  .nav__logo {
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 16px;
    display: block;
    width: calc(100% + 32px);
    margin-bottom: 32px;
    box-shadow: 0px 13px 20px -15px #eaeaea;
    background-color: #ffffff;

    & img {
      width: 110px;
    }
  }

  .nav__item {
    &+& {
      margin-top: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-bottom: auto;
    }

    & a {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      padding-left: 0;

      & img {
        display: block;
        min-width: 31px;
        max-width: 31px;
        margin-right: 10px;
        border-radius: 50%;
      }
    }
  }
}