.officeTable {
  margin-bottom: 300px;
}

.officeTable__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.officeTable__pagination {
  display: inline-block;
  padding: 14px 23px;
  border: 1px solid #e3e3e3;
  color: #8c8c8c;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;

  span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #3cd52d;
    color: #FFF;
    border-radius: 50%;
    font-size: 14px;
    line-height: 20px;
  }

  &_active {
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0 13px #e2e2e2;
    color: #3cd52e;
  }

  &+& {
    margin-left: 30px;
  }
}

.officeTable__table {
  width: 100%;

  & th {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 300;
    color: #a5a5a5;
    padding-right: 10px;
    padding-left: 10px;
  }

  & tr {
    position: relative;
    z-index: 1;
    background-color: #FFF;
  }

  & tr.row:hover {
    cursor: pointer;
    background: #f7f7f7;
  }

  & tr+tr {
    border-top: 1px solid #f6f8f7;
  }

  & td {
    height: 67px;
    text-align: center;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;

    & img {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 2px;
      margin-right: .5rem;
    }
  }
}

.officeTable__modernization {
  display: inline-block;
  padding: 7.5px 50px;
  color: #fff;
  background-color: #a5a5a5;
  border-radius: 25px;
  white-space: nowrap;
}

.officeTable_active {
  background-color: #f5f7f6 !important;
  box-shadow: 0 0 7px #e2e2e2;
  transform: scale(1.02);

  & .officeTable__gray {
    color: #3cd52e;
  }

  & .officeTable__circle {
    border-color: #fff;
  }
}

.officeTable__gray {
  color: #a5a5a5;
}

.officeTable__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: #f5f7f6;
  border-radius: 50%;
  border: 1px solid #f5f7f6;
  margin-right: auto;
  margin-left: auto;
}

.officeTable__menu {
  position: relative;
}

.officeTable__burger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  width: 25px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;

  & span {
    width: 3px;
    height: 3px;
    background-color: #a5a5a5;
  }
}

.officeTable__nav {
  position: absolute;
  z-index: 1;
  top: 100%;
  right: -43px;
  margin-top: .5rem;
  padding: 20px 20px 20px 40px;
  background-color: #fff;
  box-shadow: 0 0 8px #dedede;
  cursor: default;

  &::before {
    position: absolute;
    top: 0;
    right: 91px;
    transform: rotate(45deg) translateX(-50%);
    width: 17px;
    height: 17px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    content: '';
  }

  &_hide {
    display: none;
  }
}

.officeTable__nav-item {
  position: relative;
  font-size: 14px;
  color: #8c8c8c;
  text-align: left;
  cursor: pointer;

  &.officeTable__nav-item_red {
    color: red;
  }

  &.officeTable__nav-item_active {
    color: #000;

    &::before {
      background-color: #000;
      border: 1px solid #000;
    }
  }

  &+& {
    margin-top: 12px;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    content: '';
  }
}

@media(max-width: 1200px) {
  .officeTable {
    margin-bottom: 5rem;
  }

  .officeTable__nav {
    &::before {
      right: 77px;
    }
  }
}

@media(max-width: 980px) {

  .officeTable__pagination {
    padding: 8px 14px;
    font-size: 14px;

    &+& {
      margin-left: 15px;
    }
  }

  .officeTable__nav {
    right: -10px;

    &::before {
      right: 33px;
    }
  }
}

@media(max-width: 768px) {
  .officeTable__head {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .officeTable__box {
    margin-top: 1rem;
    order: 2;
  }

  .officeTable__pagination {
    margin: 0;

    &+& {
      margin-left: 0;
    }
  }

  .officeTable__body {
    overflow: auto;
    padding: 1rem;
  }

  .officeTable__table {
    & th {
      white-space: nowrap;
    }

    & td {
      white-space: nowrap;
      font-size: 14px;
    }
  }
}

@media(max-width: 480px) {
  .officeTable__box {
    margin-top: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    order: 0;
  }

  .officeTable__pagination {
    display: block;

    &+& {
      margin-top: .5rem;
    }
  }
}