
.profileMenu {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 68px;
  cursor: pointer;

  &:hover {
    & .profileMenu__list {
      visibility: visible;
      opacity: 1;
    }
  }
}

.profileMenu__icon {
  &:hover {
    & svg {
      fill: #7c7d7d;
    }
  }

  & svg {
    min-width: 30px;
    max-width: 30px;
    fill: #000000;
    transition: .3s fill;
  }

  &_acept {
    & .profileMenu__face {
      display: flex;
    }

    & > svg {
      display: none;
    }
  }
}

.profileMenu__face {
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: 1px solid #7c7d7d;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-color: #ececec;
}

.profileMenu__list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  z-index: 2;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.1);
  transition: .3s opacity;

  &::before {
    position: absolute;
    bottom: 98%;
    right: 14px;
    transform: rotate(-135deg) translateX(-50%);
    width: 10px;
    height: 10px;
    box-shadow: 4px 5px 7px -1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    content: '';
  }
  &::after {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 20px;
    content: '';
  }
}

// .profileMenu__item {}

.profileMenu__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #000;
  transition: .3s color;
  padding: 5px;

  &:hover {
    text-decoration: none;
    color: #3cd52e;

    & svg {
      fill: #3cd52e;
    }
  }

  & svg {
    width: 20px;
    max-width: 20px;
    margin-right: 8px;
    fill: #000;
    transition: .3s fill;
  }
}

@media (max-width: 768px) {
  .profileMenu {
    margin-left: auto;
  }
}

@media (max-width: 480px) {
  .profileMenu {
    order: 2;
    margin-left: auto;
  }
}
