.profile {
  position: relative;
}

.profile__btn {
  width: 180px;

  &+.profile__btn_next {
    margin-left: 17px;
  }

  &_next {
    margin-left: auto;
  }
}

.profile__btn_back {
  margin-left: auto;
}

.profile__container {
  padding: 48px 60px 70px;
  background-color: #fff;
  box-shadow: 0 0 20px #f1f1f1;

  &_aside {
    padding: 30px 20px;
    margin-bottom: 32px;
  }

  &_preview {
    margin-top: 0;
    padding: 0;
    background-color: #f5f7f6;
    box-shadow: none;

    & .profile__footer {
      margin-top: 68px;
    }
  }
}

.profile__portfolio {
  position: relative;
  padding-top: 48px;
  margin-top: 0 !important;
}

.profile__lang {
  position: relative;
  padding-top: 48px;
  margin-top: 0 !important;
}

.profile__title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 34px;
}

.profile__addFields {
  position: relative;

  &+.profile__box {
    margin-top: 50px;
  }

  &+& {
    margin-top: 48px;
    padding-top: 48px;
    border-top: 3px dashed #f5f7f6;
  }
}

.profile__addFields-close {
  position: absolute;
  top: 10px;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  transition: .3s transform;

  &:hover {
    transform: rotate(180deg);

    & span {
      background-color: red;
    }
  }

  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%, ) rotate(-45deg);
    display: block;
    width: 60%;
    height: 2px;
    background-color: #b3b3b3;
    transition: 1s background-color;

    &:first-child {
      transform: translate(-50%, -50%, ) rotate(45deg);
    }
  }
}

.profile__box {
  &_group {
    display: flex;
    justify-content: space-between;
  }

  &+& {
    margin-top: 50px;
  }
}

.profile__box-item {
  width: calc(50% - 1rem);

  &_por {
    position: relative;
  }
}

.profile__face {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    & .profile__face-btn {
      opacity: 1;
    }
  }
}

.profile__photo {
  width: 100%;
  background: url(/assets/media/profile/face.jpg) no-repeat center;
  background-size: cover;
}

.profile__face-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: .3s opacity;
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 50%;

  & img {
    width: 40px;
  }
}

.profile__box-title {
  margin-bottom: 20px;
  font-weight: 400;

  &_count {
    display: flex;
    justify-content: space-between;

    & span {
      font-size: 14px;
      color: #bcbcbc;
    }
  }
}

.profile__ball {
  display: flex;
  align-items: center;

  & span {
    margin-left: .5rem;
    white-space: nowrap;
    font-weight: 400;
  }
}

.profile__ballField {
  max-width: 70px;
  text-align: center;
}

.profile__divRadio {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  text-align: right;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #f5f7f6;
  color: rgba(158, 158, 158, 0.8);
  cursor: pointer;
  font-size: 14px;

  & svg {
    width: 30px;
    min-width: 30px;
    margin-right: 1rem;
    fill: rgba(158, 158, 158, 0.8);
  }
}

.profile__checkbox {
  height: 45px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  line-height: 45px;
  color: rgba(158, 158, 158, 0.8);
  box-shadow: 0 0 10px #efefef;
  cursor: pointer;
  font-size: 14px;
}

.profile__mySkills {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  margin-right: -3px;
  margin-left: -3px;
}

.profile__mySkills-item {
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
  border: 1px solid #3cd52e;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: #3cd52e;
  margin: 3px;
  cursor: pointer;
}

.profile__line {
  margin-top: 20px;
  margin-bottom: 25px;
  border-bottom: 3px dashed #f5f7f6;
}

.profile__defaultSkills {
  display: flex;
  flex-wrap: wrap;
  margin-right: -6px;
  margin-left: -6px;
}

.profile__defaultSkills-item {
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #f5f7f6;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  margin: 6px;
  font-size: 14px;
  cursor: pointer;
}

.profile_addLanguage {
  font-size: 14px;
  color: #3cd52e;
  text-align: center;
  cursor: pointer;
}

.profile__footer {
  margin-top: 115px;
  display: flex;
}

.profile__add {
  font-size: 14px;
  color: #3cd52e;
  cursor: pointer;
}

.profile__add-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
  width: 48px;
  height: 48px;
  border: 1px solid #3cd52e;
  border-radius: 50%;
  color: #3cd52e;
  line-height: .5;
}

.profile__textarea {
  border-radius: 5px;
  border: 2px solid #f5f7f6;
}

.profile__addLink {
  font-size: 14px;
  color: #3cd52e;
  text-align: center;
  cursor: pointer;
  text-align: left;
}

.profile__preview {
  &_face {
    display: flex;
    margin-right: -60px;
    margin-bottom: 35px;
    margin-left: -60px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    box-shadow: 0px 10px 13px -8px #e2e2e2;
  }
}

.profile__preview-media {
  min-width: 110px;
  margin-right: 30px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__preview-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 400;
}

.profile__preview-profession {
  margin-left: 28px;
  padding: 9px 21px;
  background-color: #ffcc5b;
  font-weight: 300;
  border-radius: 2px;
  color: #fff;
}

.profile__preview-city {
  margin-bottom: 10px;
  color: #8e8e8e;
}

.profile__preview-language {
  margin-bottom: 10px;
  color: #8e8e8e;
}

.profile__preview-type {
  color: #8e8e8e;
}

.profile__preview-title {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 400;
}

.profile__preview-info {
  color: #8e8e8e;

  &+& {
    margin-top: 5px;
  }
}

.profile__preview-box {
  &+& {
    margin-top: 40px;
  }
}

.profile__preview-info+.profile__preview-intro {
  margin-top: 20px;
}

.profile__preview-line {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 3px dashed #f5f7f6;
}

.profile__preview-intro {
  font-weight: 400;
  margin-bottom: 9px;
  color: #8e8e8e;
}

.profile__preview-description {
  margin-bottom: 20px;
  color: #8e8e8e;
}

.profile__preview-list {
  padding-left: 18px;

  & li {
    list-style-type: disc;
    color: #8e8e8e;
  }

  &+.profile__preview-date {
    margin-top: 35px;
    color: #8e8e8e;
  }
}

.profile__card {
  box-shadow: 0 0 10px #c7c7c7;

  &+& {
    margin-top: 30px;
  }
}

.profile__card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 400;
  border: 2px solid #fff;
}

.profile__card-body {
  background-color: #fff;
  padding: 40px 30px;
}

.profile__card-item {
  display: flex;
  align-items: center;

  & img {
    width: 20px;
    margin-right: 18px;
  }

  &+& {
    margin-top: 34px;
  }

  & a {
    color: #000000;
  }
}

.profile__card-title {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .profile__box {
    &+& {
      margin-top: 35px;
    }
  }

  .profile__photo {
    margin-left: 0;
    margin-bottom: 0;
  }

  .profile__container {
    padding: 2rem;

    &_preview {
      margin-top: 0;
      padding: 0;
      background-color: #f5f7f6;

      & .profile__footer {
        margin-top: 2rem;
      }
    }
  }

  .profile__box_group {
    flex-direction: column;
  }

  .profile__box-item {
    width: auto;

    &+& {
      margin-top: 50px;
    }
  }

  .profile__divRadio {
    text-align: left;
  }

  .profile__btn {
    width: 140px;
  }

  .profile__preview_face {
    margin-right: -2rem;
    margin-left: -2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (max-width: 980px) {

  .profile__box_group {
    flex-direction: row;
  }

  .profile__box-item {
    width: calc(50% - 1rem);

    &+& {
      margin-top: 0;
    }
  }

  .profile__btn {
    margin-left: 0;
    margin-top: 0;
  }

  .profile__container {
    &_aside {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 768px) {

  .profile__box_group {
    flex-direction: column;
  }

  .profile__box-item {
    width: auto;

    &+& {
      margin-top: 35px;
    }
  }

  .profile__photo {
    margin-left: 0;
    margin-bottom: 0;
  }

  .profile__checkbox {
    font-size: 14px;
  }

  .profile__footer {
    margin-top: 3rem;
  }

  .profile__preview_face {
    flex-direction: column;
  }

  .profile__preview-media {
    margin-bottom: 1rem;
  }

  .profile__divRadio {
    max-width: 140px;
  }

  .profile__pol {
    flex-direction: row;
    justify-content: flex-start;

    & .form__box-item {
      &+.form__box-item {
        margin-top: 0;
        margin-left: 1rem;
      }
    }
  }

}

@media (max-width: 480px) {
  .profile__container {
    padding: 2rem 1rem;
  }

  .profile__preview_face {
    margin-right: -1rem;
    margin-left: -1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .profile__preview-name {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile__preview-profession {
    margin-top: .5rem;
    margin-left: 0;
  }
}