.section {
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;

  &_face {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  }

  &_f5f7f6 {
    background-color: #f5f7f6;
  }

  &_000 {
    background-color: #000;
  }

  &_inner {
    display: flex;
    flex-wrap: wrap;
  }

  &_pb0 {
    padding-bottom: 0;
  }

  &_pt0 {
    padding-top: 0;
  }

  &_HeightFull {
    min-height: 100vh;
  }

  &_centerStart {
    align-items: flex-start;
    justify-content: center;
  }

  &_partnersCompany {
    margin-top: -100px;
    padding-top: 135px;
    padding-bottom: 55px;
    margin-bottom: 68px;
    background: url(/assets/media/section/bg1.png) no-repeat left top;
  }

  &_request {
    position: relative;
    z-index: 1;
    padding-bottom: 130px;
    background: url(/assets/media/section/bg1.png) no-repeat bottom left;
  }

  &_footer {
    margin-top: -40px;
    padding-top: 120px;
    padding-bottom: 90px;
  }

  &_jobOpenings {
    margin-bottom: -160px;
    padding-bottom: 240px;
    background: url(/assets/media/section/bg2.png) no-repeat center center;
    background-size: 100% auto;
  }

  &_whyBudu {
    padding-bottom: 100px;
  }

  &_budu {
    background: url(/assets/media/section/bg2.png) no-repeat top center,
      url(/assets/media/tariffs/line.png) no-repeat bottom right;
  }

  &_tariffs {
    position: relative;
    z-index: 0;
    padding-bottom: 190px;
  }

  &_pb136 {
    padding-bottom: 136px;
  }

  &_employer {
    margin-bottom: 80px;
    background: url(/assets/media/employer/bg.jpg) center bottom / cover no-repeat;
  }

  &_working {
    margin-bottom: 80px;
    background: url(/assets/media/working/bg.jpg) center bottom / cover no-repeat;
  }

  &_mountains {
    background: url(/assets/media/emptyJobOpenings/mountains.jpg) center bottom repeat-x;
    background-size: 100% auto;
    padding-top: 0px;
  }
}

.section__title {
  margin-bottom: 34px;
  color: #1d1d1d;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  line-height: 38px;

  &_catalog {
    font-size: 26px;
    text-align: left;
  }

  &_txtLeft {
    text-align: left;
  }

  & span {
    display: block;
    color: #1d1d1d;
    font-size: 36px;
    font-weight: 400;
  }

  &_request {
    margin-bottom: 35px;
    font-size: 58px;
  }

  &_tariffs {
    margin-bottom: 45px;
  }

  &_mb18 {
    margin-bottom: 18px;
  }

  &_jobSummary {
    font-size: 26px;
    text-align: left;
  }
}

.section__info {
  &_jobOpenings {
    margin-right: auto;
    margin-bottom: 68px;
    margin-left: auto;
    text-align: center;
    max-width: 600px;
    font-size: 20px;
    font-weight: 400;

    & span {
      font-size: 20px;
      font-weight: 300;
    }
  }

  &_request {
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
    text-align: center;
    max-width: 500px;
    font-size: 20px;
  }
}

.section__intro {
  margin-bottom: 1rem;
  color: #1d1d1d;
  font-size: 26px;
  text-align: center;

  &_tariffs {
    margin-bottom: 115px;
  }
}

.section__btn {
  text-align: center;

  &_mt134 {
    margin-top: 100px;
  }
}

@media (max-width: 1280px) {
  .section {
    &_employer {
      background-image: url(/assets/media/employer/bg-1280.jpg);
    }

    &_working {
      background-image: url(/assets/media/working/bg-1280.jpg);
    }
  }
}

@media (max-width: 1200px) {
  .section {
    padding-top: 4rem;
    padding-bottom: 4rem;

    &_pb0 {
      padding-bottom: 0;
    }

    &_jobOpenings {
      padding-bottom: 240px;
    }

    &_request {
      padding-bottom: 134px;
    }

    &_partnersCompany {
      padding-top: 120px;
    }

    &_pt0 {
      padding-top: 0;
    }

    &_footer {
      padding-top: 120px;
      padding-bottom: 90px;
    }
  }

  .section__title {
    font-size: 40px;

    &_catalog {
      font-size: 24px;
      text-align: left;
    }

    &_jobSummary {
      font-size: 26px;
      text-align: left;
    }
  }
}

@media (max-width: 980px) {
  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;

    &_pb0 {
      padding-bottom: 0;
    }

    &_jobOpenings {
      padding-bottom: 240px;
    }

    &_partnersCompany {
      padding-top: 120px;
    }

    &_request {
      padding-bottom: 134px;
    }

    &_pt0 {
      padding-top: 0;
    }

    &_footer {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    &_employer {
      background-image: url(/assets/media/employer/bg-980.jpg);
    }

    &_working {
      background-image: url(/assets/media/working/bg-980.jpg);
    }

    &_jobSummary {
      font-size: 26px;
      text-align: left;
    }
  }
}

@media (max-width: 768px) {
  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;

    &_face {
      min-height: auto;
    }

    &_pb0 {
      padding-bottom: 0;
    }

    &_jobOpenings {
      padding-bottom: 240px;
    }

    &_request {
      padding-bottom: 134px;
    }

    &_partnersCompany {
      padding-top: 120px;
    }

    &_pt0 {
      padding-top: 0;
    }

    &_footer {
      padding-top: 90px;
      padding-bottom: 40px;
    }

    &_employer {
      background-image: url(/assets/media/employer/bg-768.jpg);
    }

    &_working {
      background-image: url(/assets/media/working/bg-768.jpg);
    }
  }

  .section__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 34px;

    & span {
      display: inline;
      font-size: 28px;
      line-height: 32px;
    }

    &_catalog {
      font-size: 26px;
      text-align: left;
    }

    &+.section__intro {
      margin-top: 0;
      margin-bottom: 2rem;
    }

    &_jobSummary {
      font-size: 26px;
      text-align: left;
    }
  }

  .section__intro {
    font-size: 20px;
  }

  .section__info {
    &_jobOpenings {
      font-size: 16px;

      & span {
        font-size: 16px;
      }
    }

    &_request {
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .section {
    &_employer {
      background-image: url(/assets/media/employer/bg-480.jpg);
    }

    &_working {
      background-image: url(/assets/media/working/bg-480.jpg);
    }
  }
}

@media (max-width: 380px) {
  .section {
    &_employer {
      background-image: url(/assets/media/employer/bg-380.jpg);
    }

    // &_working {
    //   background-image: url(/assets/media/working/bg-380.jpg);
    // }
  }
}