<div class="addSummary__data">
  <div class="addSummary__dataField">
    <ng-container *ngFor="let filter of filters | keyvalue">
      <div
        class="officeTable__pagination"
        [class.officeTable__pagination_active]="false"
      >
        <div (click)="applyFilterToDataSource(filter.key)">
          {{ filter.value }}
        </div>
      </div>
    </ng-container>
  </div>

  <div class="addSummary__dataField">
    <mat-form-field class="addSummary__datepicker">
      <input
        matInput
        [matDatepicker]="datepickerFrom"
        [formControl]="filterStartDate"
        placeholder="От"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datepickerFrom"
      ></mat-datepicker-toggle>
      <mat-datepicker #datepickerFrom></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="addSummary__dataField">
    <mat-form-field class="addSummary__datepicker">
      <input
        matInput
        [matDatepicker]="datepickerTo"
        [formControl]="filterFinishDate"
        placeholder="До"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datepickerTo"
      ></mat-datepicker-toggle>
      <mat-datepicker #datepickerTo></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="addSummary__dataField">
    <mat-form-field>
      <input
        class="textarea"
        matInput
        placeholder="Фильтр"
        [formControl]="filterString"
      />
    </mat-form-field>
  </div>
</div>
