<app-moderation-bar
  *ngIf="entry"
  [object]="entry"
  [endpoint]="endpoint"
  (published)="publish($event)"
  (changed)="change($event)"
  (blocked)="block($event)"
  (resetPassword)="resetPassword($event)"
></app-moderation-bar>

<div class="jak" (click)="getUp()"></div>
<section *ngIf="entry" class="section">
  <div class="container">
    <div class="comeBack">
      <div class="comeBack__btn" (click)="_location.back()">
        <img src="/assets/media/comeBack/strelochka.svg" />
        Вернуться
      </div>
    </div>
    <div class="boxAside">
      <div class="boxAside__item">
        <div class="profile__container">
          <div class="profile__preview profile__preview_face">
            <div class="profile__preview-media">
              <img
                *ngIf="!entry.personal.avatar; else avatar"
                src="/assets/media/jobSummary/face.jpg"
                alt="Нужно загрузить фото"
              />
              <ng-template #avatar>
                <img
                  src="{{ uploadsLogosPath }}/{{ entry.personal.avatar }}"
                  alt="Ваше фото"
                />
              </ng-template>
            </div>
            <div class="profile__preview-face">
              <div class="profile__preview-name">
                {{ entry.personal.firstName }} {{ entry.personal.lastName }}
                <div class="profile__preview-profession">{{ entry.post }}</div>
              </div>
              <div class="profile__preview-city">{{ entry.city?.value }}</div>
              <div
                *ngFor="let item of entry.languages"
                class="profile__preview-language"
              >
                {{ item.language }} &mdash; {{ item.type.value }}
              </div>
              <div class="profile__preview-type">
                <!-- <ng-container *ngFor="let item of getCheckedTypesOfWork(); let last = last"> -->
                <!-- <span *ngIf="item.checked">{{ item.name }}<span *ngIf="!last"> | </span></span> -->
                <!-- </ng-container> -->
              </div>
            </div>
          </div>
          <div class="profile__box">
            <div class="profile__title">Навыки</div>
            <div class="profile__defaultSkills">
              <div
                *ngFor="let item of entry.skills | slice: 0:3"
                class="profile__defaultSkills-item"
              >
                {{ item.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="boxAside__item">
        <app-email [id]="id"></app-email>
        <div class="profile__card">
          <div class="profile__card-head">Контакты и портфолио</div>
          <div class="profile__card-body">
            <div *ngIf="entry.contacts?.phone" class="profile__card-item">
              <img src="/assets/media/profile/phone.svg" alt="Телефон" />{{
                entry.contacts.phone
              }}
            </div>
            <div *ngIf="entry.contacts?.email" class="profile__card-item">
              <img src="/assets/media/profile/mess.svg" alt="email" />{{
                entry.contacts.email
              }}
            </div>
            <div *ngIf="entry.contacts?.telegram" class="profile__card-item">
              <img src="/assets/media/profile/let.svg" alt="Telegram" />{{
                entry.contacts.telegram
              }}
            </div>
            <ng-container
              *ngIf="
                entry.contacts?.links.length >= 1 &&
                entry.contacts.links[0].link
              "
            >
              <div
                *ngFor="let item of entry.contacts.links"
                class="profile__card-item"
              >
                <img src="/assets/media/profile/world.svg" alt="ссылка" />{{
                  item.link
                }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="boxAside">
      <div class="boxAside__item">
        <div class="profile__container">
          <div class="profile__box profile__preview">
            <div class="profile__title">Образование</div>
            <div class="profile__box profile__preview">
              <ng-container *ngFor="let item of entry.universities">
                <div class="profile__preview-box">
                  <div class="profile__preview-title">
                    {{ item.university }}
                  </div>
                  <div class="profile__preview-info">
                    Факультет: <span>{{ item.faculty }}</span>
                  </div>
                  <div class="profile__preview-info">
                    Специализация:
                    <span
                      >{{ item.specialization }} |
                      <!-- {{ getDegreeBySlug(item.degree) }} -->
                    </span>
                  </div>
                  <div class="profile__preview-info">
                    {{ moment(item.start).format("D MMMM YYYY") }} &mdash;
                    {{ moment(item.end).format("D MMMM YYYY") }}
                  </div>
                  <div class="profile__preview-info">
                    Средний балл: <span>{{ item.grade }} / 5</span>
                  </div>
                </div>
                <!-- <div class="profile__preview-line"></div> -->
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="boxAside__item"></div>
    </div>

    <div class="boxAside">
      <div class="boxAside__item">
        <div class="profile__container">
          <div class="profile__box profile__preview">
            <div class="profile__title">Активности</div>
            <div
              *ngFor="let item of entry.activities"
              class="profile__box profile__preview"
            >
              <div class="profile__preview-box">
                <div class="profile__preview-title">{{ item.title }}</div>
                <div class="profile__preview-intro">Описание:</div>
                <div class="profile__preview-description">{{ item.about }}</div>
                <div class="profile__preview-intro">Роль:</div>
                <div class="profile__preview-description">{{ item.role }}</div>
                <div class="profile__preview-intro">Результат:</div>
                <div class="profile__preview-description">
                  {{ item.result }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="boxAside__item"></div>
    </div>

    <div class="boxAside">
      <div class="boxAside__item">
        <div class="profile__container">
          <div class="profile__box profile__preview">
            <div class="profile__title">Опыт работы</div>
            <div
              *ngFor="let item of entry.expiriences"
              class="profile__box profile__preview"
            >
              <div class="profile__preview-box">
                <div class="profile__preview-title">{{ item.jobs }}</div>
                <div class="profile__preview-info">{{ item.post }}</div>
                <div class="profile__preview-intro">Задачи</div>
                <div class="profile__preview-description">{{ item.tasks }}</div>
                <div class="profile__preview-intro">
                  Результаты и достижения
                </div>
                <div class="profile__preview-description">
                  {{ item.result }}
                </div>
                <div class="profile__preview-date">
                  {{ moment(item.start).format("D MMMM YYYY") }} &mdash;
                  {{ moment(item.end).format("D MMMM YYYY") }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="boxAside__item"></div>
    </div>
    <div class="boxAside">
      <div class="boxAside__item">
        <div class="profile__container">
          <div class="profile__box profile__preview">
            Отклики
          </div>
          <div class="profile__preview-box">
            <app-table
              [columnConfig]="responses.columnConfig"
              [dataSource]="responses.dataSource"
              [endpoint]="responses.endpoint"
            >
            </app-table>
          </div>
        </div>
      </div>
    </div>
    <div class="boxAside__item"></div>
  </div>
</section>
