/**
 * Core
 * ====
 */
@import '.././share/scss/core/base.scss';
@import '.././share/scss/core/btn.scss';
@import '.././share/scss/core/fonts.scss';

@import '.././share/scss/block/grid.scss';
@import '.././share/scss/block/header.scss';
@import '.././share/scss/block/section.scss';
@import '.././share/scss/block/nav.scss';
@import '.././share/scss/block/navOpen';
@import '.././share/scss/block/profileMenu.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.addSummary__datepicker {
  width: 100%;
}

.addSummary__datepicker .mat-form-field-underline {
  display: none;
}

.addSummary__datepicker .mat-form-field-infix {
  border-top: 0;
}

.addSummary__datepicker .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.addSummary__datepicker.mat-form-field {
  border: 1px solid transparent;
  background-color: #f5f7f6;
  height: 45px;
}

.addSummary__datepicker .mat-form-field-flex {
  padding: 0px 15px;
}

.addSummary__datepicker .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-19px) scale(.75) perspective(100px) translateZ(.001px);
}

.addSummary__datepicker .mat-form-field-should-float {
  & .mat-form-field-label-wrapper {
    padding-top: 25px;
    top: -25px;
  }
}

.addSummary__datepicker .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 25px !important;
  fill: rgba(158, 158, 158, 0.8);
}

.addSummary__datepicker .mat-form-field-prefix,
.addSummary__datepicker .mat-form-field-suffix {
  padding: .4375em 0;
  border-left: 1px solid transparent;
  padding-left: 10px;
}

.addSummary__datepicker .mat-form-field-suffix .mat-icon-button {
  width: 32px;
  height: 32px;
}

.addSummary__datepicker .ng-tns-c6-1 .ng-star-inserted {
  font-size: 14px;
}

.addSummary__datepicker .mat-form-field-appearance-legacy .mat-form-field-label {
  top: 22px;
}


.addSkills__mySkills mat-form-field {
  width: 100%;
}

.fix-padding-zero {
  padding-top: 0px;
}

budu-cv-card {
  outline: none;
}

.jak {
  right: 40px !important;
}



.oculus__eye {
  position: absolute;
  top: 7px;
  right: 15px;
  background: url(/assets/media/iconAll/oculus.svg) center center no-repeat;
  background-size: 27px;
  text-indent: -9999px;
  height: 30px;
  width: 30px;
  z-index: 5;
  opacity: 0.5;
}

.oculus__eye.opened {
  opacity: 1;
}



.budu__message {
  width: 100%;
  background: #fafafa;
  border: 1px solid #dedede;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
}


.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #3cd52e !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #f5f7f6;
}

.mat-form-field.mat-focused .mat-form-field-label {
  transition: 0.3s;
  opacity: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
